@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}




li , a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #04eecf;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  padding: .9rem 7%;
  background-color: #0e4262;
 
  
}

.spacer{
flex: 1;
 
}

.logo{
  font-size: 2rem;
  color: #d53c21;
  font-family: Shrikhand;
}

.nav-links{
  list-style: none;
  
}

.nav-links li {
display: inline-block;
padding: 0 .5rem;

}

.nav-links li a{
  transition: all 0.3s ease 0s;
}


.nav-links li a:hover{
  color: #d02507 ;
}

.active{
  color:rgb(7, 182, 129);
}

@media (max-width:600px){
  .logo{
    margin-top: 2rem;
    padding: 3rem;
   
   
  }
 
 header {
   flex-direction: column;
   margin: 0;
 }

 
}